/* GENERAL STYLES */
* {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40px;
}

.sony_logo {
    height: 11px;
}

.fixed-top-sony {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.fixed-top-nav {
    position: fixed;
    top: 36px;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: Helvetica, sans-serif;
}

/* UTILITIES */
.round_site_btn {
    border-radius: 30px;
}

.padding_top_112 {
    padding-top: 112px;
}

.orange {
    background-color: #CD3D0F;
    color: white;
    border: none;
}

.grey {
    background-color: #363636;
}

.lightgrey_text {
    color: #787878;
}

.blue {
    color: #0876CF;
}

.font_size_20 {
    font-size: 20px;
}

/* MAIN CONTENT */
.jumbo_container {
    height: 783px;
    background-image: url(../img/jumbo-bg.png);
    background-position-y: 111px;
    background-position-x: center;
}

.returnal_text {
    width: 56%;
    top: 285px;
}

.absolute_container_returnal {
    top: 294px;
}

.container_thumb img {
    width: 99%;
    border-radius: 13px;
}

.playstation_5 h2 {
    font-size: 40px;
}

.product_image img {
    width: 99%;
}