/* GENERAL STYLES */
* {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40px;
}

.sony_logo {
    height: 11px;
}

.fixed-top-sony {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
    margin: 0;
    padding-right: 0;
}

.navbar-brand.sony {
    margin: 0;
    padding-right: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.fixed-top-nav {
    position: fixed;
    top: 36px;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: Helvetica, sans-serif;
}

/* UTILITIES */
.cursor_pointer {
    cursor: pointer;
}

.round_site_btn {
    border-radius: 30px;
    border: 5px solid transparent;
}

.round_site_btn:hover {
    border-color: rgba(255, 255, 255, 0.63);
}

.padding_top_112 {
    padding-top: 112px;
}

.orange {
    background-color: #CD3D0F;
    color: white;
}

.grey {
    background-color: #363636;
}

.darkgrey_background {
    background-color: #1F1F1F;
}

.lightgray_background {
    background-color: #BEBCBB;
}

.lightgrey_text {
    color: #787878;
}

.darkblue_background {
    background-color: #161C3B;
}

.bluebackground {
    background-color: #00439C;
}

.blue {
    color: #0876CF;
}

.font_size_20 {
    font-size: 20px;
}

.border_bottom_transparent {
    border-bottom: 3px solid transparent;
}

.border_bottom_transparent:hover {
    border-bottom: 3px solid #0876CF;
    transition: border 0.4s linear;
}
/* MAIN CONTENT */
.jumbo_container {
    height: 783px;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.returnal_background {
    background-image: url(../img/jumbo-bg.png);
    background-position-y: 111px;
}

.it_takes_two_background {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position-y: 0px;
    height: 662px;
}

.returnal_text {
    width: 56%;
}

.absolute_container_returnal {
    top: 294px;
}

.it_takes_two_text {
    width: 63%;
}

.absolute_container_it_takes_two {
    top: 54px;
}

.container_thumb img {
    width: 100%;
    border-radius: 20px;
    padding: 2px;
    border: 3px solid transparent;
}

.container_thumb img:hover {
    cursor: pointer;
    border: 3px solid #0876CF;
    transition: border 0.4s linear;
}

.playstation_5 h2,
.playstation_4 h2,
.ps_store h2 {
    font-size: 40px;
}

.product_image img {
    width: 100%;
}

.product_gallery {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    text-align: center;
}

.product_gallery img {
    width: 100%;
    opacity: 0.5;
}

.product_gallery:hover img {
    opacity: 1;
    transition: opacity 0.4s linear;
}

.product_gallery.active img {
    opacity: 1;
}

.new_games img {
    width: 100%;
    border-radius: 15px;
}

.playstation_4 img {
    width: 100%;
}

.ps_plus img {
    width: 65%;
}

.ps_plus_banner img {
    width: 100%;
}

.ps_store img {
    width: 100%;
}

.ps_now img {
    width: 100%;
}

.ps_now .logo {
    width: 60%;
}

.social_media img {
    width: 100%;
}

.container_social {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

/* SOCIAL CONTAINER MEDIA QUERY */
@media screen and (min-width: 576px) {
    .container_social {
        max-width: 550px;
    }
}

footer .footer_logo {
    width: 100px;
}

footer .sie_logo {
    width: 170px;
}

footer ul {
    list-style: none;
    line-height: 35px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer span a {
    text-decoration: underline;
}

footer a:hover {
    color: blue;
}